@charset 'UTF-8';

.blind{position: absolute; overflow: hidden; clip: rect(0 0 0 0); margin: -1px; width: 1px; height: 1px;}

.cOrg{color:#e85840;}
.cMint{color:#29c2b5;}
.cCeruleanBlue{color:#618bdf;}

.bgMint{background:#29c2b5;}
.bgCeruleanBlue{background:#618bdf;}

button.icoBtn{border:0px; background:none; padding:0px; margin-right:10px;}
button.icoBtn > span.icon{background-image:url('../images/common/i_common.png'); cursor: pointer; background-repeat: no-repeat; width:12px; height:12px; display:inline-block;}
button.icoBtn > span.icon.searchIconSmall{background-position: -36px 0px;}

button.txtBtn{border:1px soild #1d4082; width:160px; height:38px; line-height:38px; background:none; padding:0px; margin:0 4px; display:inline-block;}

.listTopWrap{width:980px; font-size:0px; height:30px; margin-top:10px; line-height: 30px;}
.listTopWrap > * {display:inline-block; font-size:12px;}
.listTopWrap > ul{margin-left:20px; font-size:0px;}
.listTopWrap > ul > li{display:inline-block; font-size:12px; color:#666; font-weight:bold; padding-left:10px;}
.listTopWrap > ul > li:after{content:''; display:inline-block; margin-left:10px; height:11px; vertical-align: middle; width:1px; background-color:#666;}
.listTopWrap > ul > li:last-child:after{content:none;}
.listTopWrap > ul > li.on{color:#e85840;}
.listTopWrap > div.search{float:right; border-bottom:1px solid #333; height:30px; box-sizing: border-box}

.pagingArea{margin-top:20px; float:right; clear:both;}
.pagingArea:after{clear:both; conetnt:''; display:block;}
.pagingArea a{display:inline-block; width:30px; height:30px; border:1px solid #e3e3e3; color:#aaa; border-radius:3px; float:left; margin-left:3px; line-height:30px; text-align:center}
.pagingArea a.now{background:#1d4082; color:white; font-weight: bold;}
.pagingArea a:hover{text-decoration: none;}