@charset 'UTF-8';

.blind{position: absolute; overflow: hidden; clip: rect(0 0 0 0); margin: -1px; width: 1px; height: 1px;}

.cOrg{color:#e85840 !important;}
.cMint{color:#29c2b5 !important;}
.cCeruleanBlue{color:#618bdf !important;}
.cBold{font-weight:700;}
.cExBold{font-weight:800;}
.cWhite{color:White !important;}

/* background */
.bgMint{background:#29c2b5;}
.bgCeruleanBlue{background:#618bdf;}
.bgBlue{background:#1d4082 !important;}
.bgOrg{background:#e85840 !important;}
.bgTrans{background:transparent !important}

/*padding, margin*/
.pl20{padding-left:20px;}
.mt5{margin-top:5px;}
.ml10{margin-left:10px;}

/* button */
button.icoBtn{border:0px; background:none; padding:0px; margin-right:10px;}
button.icoBtn > span.icon{background-image:url('../images/common/i_common.png'); cursor: pointer; background-repeat: no-repeat; width:12px; height:12px; display:inline-block;}
button.icoBtn > span.icon.searchIconSmall{background-position: -36px 0px;}

button.txtBtn{border:1px solid #1d4082; font-weight:700; color:#666; font-size:14px; width:160px; height:38px; line-height:38px; background:transparent; padding:0px; margin:0 4px; display:inline-block;}
button.txtBtn.bgBlue{color:white;}
button.resetBtn{background:#bbb; border:1px solid #999; width:160px; font-weight:700; color:#666; height:38px; line-height:38px; font-size:14px; display:inline-block; margin:0 4px; padding:0px;}
button.tableBtn{border:1px solid #e3e3e3; border-radius:3px 3px; box-sizing:border-box; color:#333; background:#eee; height:30px; line-height:30px; font-size:14px; display:inline-block; vertical-align:middle;}

/* 페이지네이션 */
.paginated{min-width:980px; width:980px; margin:20px auto 0px auto; height:30px; text-align:right; font-size:0px;}
.paginated a{width:30px; margin-right:3px; height:30px; border:1px solid #e3e3e3; border-radius:3px; text-align:center; line-height:28px; display:inline-block; font-size:12px; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;}
.paginated a:hover{text-decoration:none; border:1px solid #666; color:#666;}
.paginated a:last-child{margin-right:0px;}
.paginated a.now{background:#1d4082; border:0px; line-height:30px; color:white;}

/*게시판 쓰기*/
.bbs_write{border-top:1px solid #000;}
.bbs_write th {padding: 10px 18px; border-bottom: 1px solid #d6d6d6; background: #f6f6f6;}
.bbs_write th.required:before{content:'*'; display:inline-block; width:14px; vertical-align:middle; color:#e85840;}
.bbs_write td {padding: 10px 18px; border-bottom: 1px solid #d6d6d6;}
.bbs_write td p{display:block;}

.listTopWrap{width:980px; font-size:0px; height:30px; margin-top:10px; line-height: 30px;}
.listTopWrap > * {display:inline-block; font-size:12px;}
.listTopWrap > ul{margin-left:20px; font-size:0px;}
.listTopWrap > ul > li{display:inline-block; font-size:12px; color:#666; font-weight:bold; padding-left:10px;}
.listTopWrap > ul > li:after{content:''; display:inline-block; margin-left:10px; height:11px; vertical-align: middle; width:1px; background-color:#666;}
.listTopWrap > ul > li:last-child:after{content:none;}
.listTopWrap > ul > li.on{color:#e85840;}
.listTopWrap > div.search{float:right; border-bottom:1px solid #333; height:30px; box-sizing: border-box}

.pagingArea{margin-top:20px; float:right; clear:both;}
.pagingArea:after{clear:both; conetnt:''; display:block;}
.pagingArea a{display:inline-block; width:30px; height:30px; border:1px solid #e3e3e3; color:#aaa; border-radius:3px; float:left; margin-left:3px; line-height:30px; text-align:center}
.pagingArea a.now{background:#1d4082; color:white; font-weight: bold;}
.pagingArea a:hover{text-decoration: none;}

.buttonArea{clear:both; height:38px; text-align:center; margin-top:20px;}