@charset 'UTF-8';
.banner{height:205px; width:980px; margin:0 auto; margin-top:20px; background:#ddd;}
.sort{background:#f6f6f6; height:130px; margin-top:20px; width:100%; min-width:980px;}
.sort > div.sortWrap{width:980px; margin:0 auto; padding:20px 0px;}
.sort > div.sortWrap > p{line-height:25px;}
.sort > div.sortWrap > div.comboWrap{margin-top:15px; height:25px; text-align:center;}

.search input[type='text']{border:0px;}

.listWrap:after{content:''; clear:both; display:block;}
.listWrap ul{font-size:0px; clear:both;}
.listWrap ul:after{content:''; clear:both; display:block;}
.listWrap li{width:314px; float:left; border:5px solid transparent; font-size:12px; display:inline-block; box-sizing: border-box; height:360px; margin:20px 19px 0px 0px; position:relative;}
.listWrap li:hover{border:5px solid #094a96;}
.listWrap ul > li:nth-child(3n){margin-right:0px;}
.listWrap ul > li > a{display:inline-block; height:350px; border:1px solid #e3e3e3; box-sizing:border-box; position:absolute; top:0px; left:0px;}
.listWrap ul > li:hover > a {border:1px solid #094a96;}
.listWrap ul > li > a:hover {text-decoration: none}

.listWrap ul li a > span{display:block;}
.listWrap ul li a span.imgBox{width:302px; height:145px; position:relative; overflow:hidden;}
.listWrap ul li a span.imgBox img{min-width:302px;}
.listWrap ul li a span.imgBox .tags{position:absolute; right:7px; top:9px;}
.listWrap ul li a span.imgBox .tags > span{display:inline-block; color:white; height:15px; padding:0px 5px; background:#e85840; font-size:11px; font-weight: bold; line-height: 15px;}
.listWrap ul li a span.imgBox .tags > span.part{background-color:#768cc6;}
.listWrap ul li a span.titleBox{margin:0px 6px; margin-top:10px; padding-bottom:7px; border-bottom:1px solid #e3e3e3;}
.listWrap ul li a span.titleBox > span{display:block;}
.listWrap ul li a span.titleBox span.loc{font-size:12px; line-height: 20px;}
.listWrap ul li a span.titleBox span.title{font-size:14px; color:#333; font-weight:bold; letter-spacing: -0.1em; line-height:25px;}
.listWrap ul li a span.infoBox{margin:0px 6px; margin-top:7px;}
.listWrap ul li a span.infoBox span.info{display:block; height:20px; line-height: 20px; width:290px; clear:both;}
.listWrap ul li a span.infoBox span.info span.label{display:block; float:left; width:65px; color:#666666; font-weight: bold}
.listWrap ul li a span.infoBox span.info span.value{display:block; float:left; letter-spacing: -0.1em; width:225px; overflow: hidden; text-overflow:ellipsis; white-space:nowrap; word-wrap:normal}
.listWrap ul li a span.processBox{margin:20px 6px 0px 6px;}
.listWrap ul li a span.processBox > span{display:block;}
.listWrap ul li a span.processBox span.bar{height:5px; width:100%; clear:both; overflow: hidden; background:#cccccc;}
.listWrap ul li a span.processBox span.bar span.inner{height:5px; background:#e85840; display:block;}
.listWrap ul li a span.processBox span.text{float:left; line-height:20px; color:#e85840;}
.listWrap ul li a span.processBox span.remain{float:right; line-height:20px;}

.listWrap ul li div.block{position:absolute; color:white; top:0px; left:0px; z-index:100; background:#333; opacity: .7; width:100%; height:350px; text-align:center;}
.listWrap ul li div.block p{line-height:195px; font-weight: bold; font-size:14px;}
.listWrap ul li div.block button{line-height:30px; padding:0px 10px; border:1px solid #fff; background:transparent; color:white; cursor:pointer;}

