@charset 'UTF-8';
.banner{height:205px; width:980px; margin:0 auto; margin-top:20px; background:#ddd;}
.sort{background:#f6f6f6; height:130px; margin-top:20px; width:100%;}
.sort > div.sortWrap{width:980px; margin:0 auto; padding:20px 0px;}
.sort > div.sortWrap > p{line-height:25px;}
.sort > div.sortWrap > div.comboWrap{margin-top:15px; height:25px; text-align:center;}


.competition_search .searchArea{width:392px; font-size:0px; height:52px; margin:0 auto; border:3px solid #fff; background:#1a406e; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;}
.competition_search .searchArea > *{display:block;}
.competition_search .searchArea input{width:322px; height:46px; border:0px; color:white; font-size:14px; float:left;}
.competition_search .searchArea input::placeholder{color:#ddd;}
.competition_search .searchArea input::-webkit-placeholder{color:#ddd;}
.competition_search .searchArea input::-moz-placeholder{color:#ddd;}
.competition_search .searchArea input::-ms-placeholder{color:#ddd;}
.competition_search .searchArea button{width:64px; font-size:14px; height:46px; color:#333; outline:0px; margin:0px; border:0px; background:white; float:left; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;}
.competition_search{max-width:1200px; min-width:980px; height:280px; padding-top:123px; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; margin:20px auto 0px auto; background:url('../../libraries/images/competition/bg_search.jpg') top center no-repeat;}
.competition_search .btnArea{width:1200px; height:45px; font-size:0px; padding-top:20px; border-top:1px dashed #406088; margin:20px auto 0 auto;}
.competition_search .btnArea .txtBtn{width:101px; margin:0px; margin-left:12px; height:45px; background:rgba(0,0,0,.5); color:white; font-size:14px; font-weight:normal;}
.competition_search .btnArea .txtBtn.on{background:rgba(118,140,198,1.0);}
.competition_search .btnArea button:first-child{margin-left:0px;}

.competition_count{display:block; margin-top:15px; height:25px; line-height:25px; text-align:center; font-size:14px;}

.listWrap:after{content:''; clear:both; display:block;}
.listWrap ul{font-size:0px; clear:both;}
.listWrap ul:after{content:''; clear:both; display:block;}
.listWrap li{width:314px; float:left; border:5px solid transparent; font-size:12px; display:inline-block; box-sizing: border-box; height:360px; margin:20px 19px 0px 0px; position:relative;}
.listWrap li:hover{border:5px solid #094a96;}
.listWrap ul > li:nth-child(3n){margin-right:0px;}
.listWrap ul > li > a{display:inline-block; height:350px; border:1px solid #e3e3e3; box-sizing:border-box; position:absolute; top:0px; left:0px;}
.listWrap ul > li:hover > a {border:1px solid #094a96;}
.listWrap ul > li > a:hover {text-decoration: none}

.listWrap ul li a > span{display:block;}
.listWrap ul li a span.imgBox{width:302px; height:145px; position:relative; overflow:hidden;}
.listWrap ul li a span.imgBox img{min-width:302px;}
.listWrap ul li a span.imgBox .tags{position:absolute; right:7px; top:9px;}
.listWrap ul li a span.imgBox .tags > span{display:inline-block; color:white; height:15px; padding:0px 5px; background:#e85840; font-size:11px; font-weight: bold; line-height: 15px;}
.listWrap ul li a span.imgBox .tags > span.part{background-color:#768cc6;}
.listWrap ul li a span.titleBox{margin:0px 6px; margin-top:10px; padding-bottom:7px; border-bottom:1px solid #e3e3e3;}
.listWrap ul li a span.titleBox > span{display:block;}
.listWrap ul li a span.titleBox span.loc{font-size:12px; line-height: 20px;}
.listWrap ul li a span.titleBox span.title{font-size:14px; color:#333; font-weight:bold; letter-spacing: -0.1em; line-height:25px;}
.listWrap ul li a span.infoBox{margin:0px 6px; margin-top:7px;}
.listWrap ul li a span.infoBox span.info{display:block; height:20px; line-height: 20px; width:290px; clear:both;}
.listWrap ul li a span.infoBox span.info span.label{display:block; float:left; width:65px; color:#666666; font-weight: bold}
.listWrap ul li a span.infoBox span.info span.value{display:block; float:left; letter-spacing: -0.1em; width:225px; overflow: hidden; text-overflow:ellipsis; white-space:nowrap; word-wrap:normal}
.listWrap ul li a span.processBox{margin:20px 6px 0px 6px;}
.listWrap ul li a span.processBox > span{display:block;}
.listWrap ul li a span.processBox span.bar{height:5px; width:100%; clear:both; overflow: hidden; background:#cccccc;}
.listWrap ul li a span.processBox span.bar span.inner{height:5px; background:#e85840; display:block;}
.listWrap ul li a span.processBox span.text{float:left; line-height:20px; color:#e85840;}
.listWrap ul li a span.processBox span.remain{float:right; line-height:20px;}

.listWrap ul li div.block{position:absolute; color:white; top:0px; left:0px; z-index:100; background:#333; opacity: .7; width:100%; height:350px; text-align:center;}
.listWrap ul li div.block p{line-height:195px; font-weight: bold; font-size:14px;}
.listWrap ul li div.block button{line-height:30px; padding:0px 10px; border:1px solid #fff; background:transparent; color:white; cursor:pointer;}





.title{font-size:14px; color:#333; font-weight:bold; letter-spacing: -0.1em; line-height:25px;}

.competition_title{vertical-align: baseline; display: inline-block;}
.competition_title .tags span{ color:white; height:15px; padding:0px 5px; background:#e85840;}
.competition_title .tags > span{display:inline-block; color:white; height:15px; padding:0px 5px; background:#e85840; font-size:11px; font-weight: bold; line-height: 15px;}
.competition_title .tags > span.loc{}
.competition_title .tags > span.part{background-color:#768cc6;}

.tableTitle{max-width: 980px; height: 30px; margin: 20px auto 10px auto;  background-color: #333333; color: white; font-size: 13pt}

.table{max-width: 980px; text-align: center; font-size: 11pt;  margin: 20px auto 20px auto;} th {background-color: #0B4A97; color: white;} tr, td {border: 1px solid black; padding: 5px;}
.table .tableBtn{width: auto; height: auto; padding: 1px 10px 1px 10px; margin: 1px 1px 1px 1px; background-color: #E35C3E; font-size:12px; color: white;}
.subtitle{vertical-align: baseline;}
.location{color: #0A4D9A;}
.subtitle .competition_apply .txtBtn{width: 80px; height: 35px; font-size:14px; background: #333333; color: white;}
