@charset 'UTF-8';
@font-face { /* 나눔고딕 Regular */
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 400;
  src: url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.eot);
  src: url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.eot?#iefix) format('embedded-opentype'),
       url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.woff) format('woff'),
       url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.ttf) format('truetype');
}
@font-face { /* 나눔고딕 Bold */
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 700;
  src: url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.eot);
  src: url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.eot?#iefix) format('embedded-opentype'),
       url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.woff) format('woff'),
       url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.ttf) format('truetype');
}
@font-face { /* 나눔고딕 ExtraBold */
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 800;
  src: url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-ExtraBold.eot);
  src: url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-ExtraBold.eot?#iefix) format('embedded-opentype'),
       url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-ExtraBold.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-ExtraBold.woff) format('woff'),
       url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-ExtraBold.ttf) format('truetype');
}


html,body{
	font-family:'Nanum Gothic', sans-serif;
  font-size:12px;
  color:#333;
  -webkit-font-smoothing: antialiased;
}
button{cursor:pointer;}
ul,ol,dl,dd,li{list-style: none;}
i{font-style: normal}
body,div,ul,li,header,section,footer,nav,h1,h2,h3,h4,h5,h6,img,p,form{margin:0px; padding:0px;}
h1,h2,h3,h4,h5,h6{-webkit-margin-before:0px;-webkit-margin-after:0px;}
img{display:inline-block; border:0px;}
a:link, a:active, a:visited{color:#333; text-decoration: none;}
a:hover{color:#666; text-decoration: underline;}

/* input */
input{height:30px; line-height:30px; vertical-align:middle; box-sizing:border-box; color:#333; padding-left:10px; border:0px none; font-size:12px; background:transparent;}
input[type=checkbox]{margin-right:6px;}
input[type=radio]{margin-right:6px;}
input[type=text], input[type=password]{border:1px solid #e3e3e3; border-radius:3px; padding-right:10px;}
textarea{border:1px solid #e3e3e3; border-radius:3px; font-family:'Nanum Gothic', sans-serif; outline:0px; padding:5px 5px; width:100%; min-height:300px; font-size:12px; box-sizing:border-box;}
select{height:30px; outline:0px; box-sizing:border-box; border:0; padding:0 8px; border:1px solid #e3e3e3;}

/*table*/
caption{display:none;}
table{width: 100%; border-collapse: collapse; border-spacing: 0; text-align: left; background-color:transparent;}
