<IfModule mod_rewrite.c>
RewriteEngine On

RewriteCond $1 !^(libraries|site_data|appData)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-1
#RewriteCond %{HTTP_HOST} ^sports\.werun\.pe\.kr\$ [C]
RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>
