<!DOCTYPE HTML>
<html>
<head>
	<meta charset="UTF-8">
	<link href="../../css/reset.css" rel="stylesheet" type="text/css">
	<link href="../../css/layout.css" rel="stylesheet" type="text/css">
	<link href="../../css/common.css" rel="stylesheet" type="text/css">
	<link href="../../css/competition.css" rel="stylesheet" type="text/css">
</head>
<body>
	<div class="wrap">
		<header>
			<div class="globalArea">
				<nav class="global">
						<a href="#" class="login">로그인</a>
						<a href="#" class="join">회원가입</a>
						<a href="#" class="findInfo">정보찾기</a>
				</nav>
			</div>
			<h1 class="logo">
				<img src="../../images/common/c_logo_big.jpg" alt="We run" />
			</h1>
			<nav class="gnb">
				<div class="gnbArea">
					<ul>
						<li class="competition"><a href="#">대회 정보</a></li>
						<li class="club"><a href="#">클럽</a></li>
						<li class="rank"><a href="#">랭킹</a></li>
						<li class="info"><a href="#">사이트 소개</a></li>
					</ul>
				</div>
			</nav>
		</header>

		<section>
			<article class="title">
				<h2>제 1회 물맑은 양평군수배 전국 동호인 테니스대회</h2>
				<span class="tags">
					<span class="loc">대전</span>
					<span class="part">테니스</span>
				</span>
				<div>
					<span>경기 양평군</span>
					<span>갈산테니스장 외 보조구장</span>
						<class="competition_apply">
							<button class="txtBtn">대회목록</button>
						</class="btnArea">
				</div>
			</article>
			<nav class="lnb">
				<ul class="six">
					<li class="on">대회정보</li>
					<li>신청현황/접수</li>
					<li>대진표</li>
					<li>경기현황/결과</li>
					<li>대회 Talk</li>
					<li>대회 게시판</li>
				</ul>
			</nav>

			<div>
				<table class="table">
					<tr>
						<td>주최</td>
						<td>양평군/KTA(대한테니스협회)</td>
						<td>신청기간</td>
						<td>아래 상세안내 참조</td>
					</tr>
					<tr>
						<td>대회종목</td>
						<td>테니스(지역신인부)</td>
						<td>대회일시</td>
						<td>2017년 6월 10일(토) 09:00</td>
					</tr>
					<tr>
						<td>참가자격</td>
						<td>아래 상세안내 참조</td>
						<td>대회장소</td>
						<td>양평 갈산테니스장 외 보조구장</td>
					</tr>
					<tr>
						<td>모집단위</td>
						<td>아래 상세안내 참조</td>
						<td>경기방식</td>
						<td>노-에드, 5:5 타이브레이크 시스템</td>
					</tr>
					<tr>
						<td>참가비</td>
						<td>개인복식 팀당 5만 2천원 (팀당 2천원은 꿈나무육성기금 기부)<br>
							* 당일 납부시 팀당 5만 5천원 납부
						</td>
						<td>홈페이지</td>
						<td>
							http://www.ktfs.or.kr/bbs/board.php?bo_table=schedule
						</td>
					</tr>
				</table>
			</div>


			<div>
				<table class="table">
				<colgroup>
				<col style="width: 100px">
				<col style="width: 350px">
				<col style="width: 350px">
				</colgroup>
					<tr>
						<td>참가상품</td>
						<td colspan="2">지역특산품</td>
					</tr>
					<tr>
					    <td>사용구</td>
					    <td colspan="2">Wilson US Open 테니스볼 (KTA 랭킹대회 공식사용구)</td>
					</tr>
					<tr>
					    <td>참가신청</td>
					    <td colspan="2", style="text-align: left">
					    	◎ 참가비 입금후 인터넷 신청 : 대한테니스협회 홈페이지 신청 http://www.ktfs.or.kr/<br>
							◎ 홈페이지에서만 접수하며 신청 마감일까지 참가비 미입금자는 대진표에서 제외함<br>
							◎ 마감후 환불 불가, 참가상품 지급<br>
							◎ 지역신인부는 양평군테니스협회로 신청. (경기이사 김성우 010-4476-2345)
					    </td>
					</tr>
					<tr>
					    <td>신청마감</td>
					    <td colspan="2", style="text-align: left">
					    	◎ 전국신인부 대회 측 요청으로 20팀 마감, 개나리 17일(토) 16:00시<br>
							◎ 남자오픈부, 혼합복식부 23일(금) 12:00시<br>
							◎ 신청 마감일까지 미입금자는 출전불가
					    </td>
					</tr>
					<tr>
					    <td>문의처</td>
					    <td colspan="2", style="text-align: left">
					    	◎ 양평군테니스협회 사무차장 양현미 010-6331-9464 / 경기이사 김성우 010-4476-2345<br>
							◎ 감독관 : 성영란 감독관
					    </td>
					</tr>
					<tr>
					    <td rowspan="2">시상내역</td>
					    <td>※ 혼합복식부, 전국신인부</td>
					    <td>※ 개나리부, 남자오픈부</td>
					</tr>
					<tr style="text-align: left">
					    <td>
					    	◆ 우승 : 상패 및 현금 200만원<br>
							◆ 준우승 : 상패 및 현금 100만원<br>
							◆ 공동3위 : 상패 및 현금 50만원<br>
							◆ 각부8강 : 물맑은 양평쌀 20kg<br>
							◆ 각부8강 : 물맑은 양평쌀 20kg
					    </td>
					    <td>
							◆ 우승 : 상패 및 현금 150만원<br>
							◆ 준우승 : 상패 및 현금 70만원<br>
							◆ 공동3위 : 상패 및 현금 40만원<br>
							◆ 각부8강 : 물맑은 양평쌀 20kg<br>
							◆ 각 부별 70팀 미만시 시상내역 조정
					    </td>
					</tr>
				</table>
			</div>

			<div>
				<table class="table">
				<colgroup>
				<col style="width: 100px">
				<col style="width: 350px">
				<col style="width: 350px">
				</colgroup>
					<tr>
						<th>경기종목</th>
						<th>경기일자</th>
						<th>참가비 입금계좌 및 담당자</th>
					</tr>
					<tr>
					    <td>지역신인부</td>
					    <td>
					    	2017년 06월 10일(토) 09:00<br>
					    	갈산테니스장 외 보조구장
					    </td>
					    <td style="text-align: left">
					    	▶문의 : 김성우 010-4476-2345/ 양현미 010-6331-9464<br>
					    	▶입금 : 농협 351-0922-6390-33 양평군테니스협회
					    </td>
					</tr>
					<tr>
					    <td>전국신인부</td>
					    <td>
					    	2017년 06월 18일(일) 09:00<br>
					    	갈산테니스장 외 보조구장
					    </td>
					    <td style="text-align: left">
					    	▶문의 : 김성우 010-4476-2345/ 양현미 010-6331-9464<br>
					    	▶입금 : 농협 351-0922-6422-43 양평군테니스협회
					    </td>
					</tr>
					<tr>
					    <td>개나리부</td>
					    <td>
					    	2017년 06월 19일(월) 09:00<br>
					    	갈산테니스장 외 보조구장
					    </td>
					    <td style="text-align: left">
					    	▶문의 : 김성우 010-4476-2345/ 양현미 010-6331-9464<br>
					    	▶입금 : 농협 351-0922-6518-73 양평군테니스협회
					    </td>
					</tr>
					<tr>
					   	<td>남자오픈부</td>
					    <td>
					    	2017년 06월 24일(토) 09:00<br>
					    	갈산테니스장 외 보조구장
					    </td>
					    <td style="text-align: left">
					    	▶문의 : 김성우 010-4476-2345/ 양현미 010-6331-9464<br>
					    	▶입금 : 농협 351-0922-6575-33 양평군테니스협회
					    </td>
					</tr>
					<tr>
					    <td>전국신인부</td>
					    <td>
					    	2017년 06월 25일(일) 09:00<br>
					    	갈산테니스장 외 보조구장
					    </td>
					    <td style="text-align: left">
					    	▶문의 : 김성우 010-4476-2345/ 양현미 010-6331-9464<br>
					    	▶입금 : 농협 351-0922-6550-63 양평군테니스협회
					    </td>
					</tr>
				</table>
			</div>


			<div class="tableTitle">
				부서별 참가허용기준
			</div>

			<div>
				<table class="table">
					<colgroup>
					<col style="width: 120px">
					<col style="width: 100px">
					<col style="width: 100px">
					<col style="width: 100px">
					<col style="width: 100px">
					<col style="width: 100px">
					<col style="width: 100px">
					</colgroup>
					<tr>
						<th>구분</th>
						<th>청년부</th>
						<th>장년부</th>
						<th>베테랑부</th>
						<th>국화부</th>
						<th>개나리부</th>
						<th>지도자부</th>
					</tr>
					<tr>
						<td>순수동호인</td>
						<td>주민등록상 20세이상</td>
						<td>주민등록상 40세이상</td>
						<td rowspan="2">주민등록상 50세이상</td>
						<td>주민등록상 20세이상</td>
						<td>주민등록상 20세이상</td>
						<td rowspan="4">주민등록상 20세이상</td>
						</tr>
						<tr>
							<td>초등학교, 동호인지도자</td>
							<td>주민등록상 35세이상</td>
							<td>주민등록상 45세이상</td>
							<td>주민등록상 50세이상</td>
							<td rowspan="3">X</td>
						</tr>
						<tr>
							<td>중학교</td>
							<td>주민등록상 40세이상</td>
							<td>주민등록상 50세이상</td>
							<td>주민등록상 55세이상</td>
							<td rowspan="2">주민등록상 55세이상</td>
						</tr>
						<tr>
							<td>고등학교</td>
							<td>주민등록상 45세이상</td>
							<td>주민등록상 55세이상</td>
							<td>주민등록상 60세이상</td>
						</tr>
						<tr>
							<td></td>
							<td colspan="6", style="text-align: left">
								o 정구선수는 테니스선수에 준한다.<br>
								o 동호인지도자는 초등학교 선수출전에 준한다.<br>
								o 동호인 지도자란 순수아마추어 지도자를 말함<br>
								o 선수 또는 동호인지도자 출신 간에는 파트너를 할 수 없다
							</td>
						</tr>
				</table>
			</div>

			<div class="tableTitle">
				경기방법 및 참가자 준수사항
			</div>

			<div>
				<table class="table">
					<tr>
						<td>참가자, 관람자</td>
						<td style="text-align: left">
							○ 모든 참가선수는 반드시 신분증(주민등록증, 운전면허증, 여권)을 지참하여야 하며 신분확인시 제출하지 못할 경우 실격처리한다<br>
							○ 출전선수는 생활체육 공제보험 가입을 권장하며 경기중 부상이나 각종사고에 대해서는 대회주최주관측에서 일체의 책임을 지지 않는다.<br>
							○ 관중은 경기장에 입장하여서는 안되며 관중이 경기장에 입장하여 발생된 사고는 대회주최, 주관측이나 경기를 하는 선수가 책임지지 않는다.<br>
							○ 부정 선수 판명 시, 대회 종료 이후에도 상금, 상품권, 상패 등을 회수한다.<br>
							○ 예선 대진표 발표 이후에는 참가비를 환불하지 않으며 참가상품으로 지급한다.<br>
							○ 대회 신청 마감 후 랭킹으로 시드를 배정한다.
						</td>
					</tr>
					<tr>
						<td>경기방법</td>
						<td style="text-align: left">
							○ 예선전 조별리그 노-에드, 5:5타이브레이크 시스템 적용하며 각조1,2위 본선진출<br>
							○ 리그전 등율 팀 우선순위<br>
							&nbsp&nbsp 1)2팀이 동률일 경우, 승자 승<br>
							&nbsp&nbsp 2)3팀이 동률일 경우에는 가,나,다 순에 의해 순위를 결정한다.<br>
							&nbsp&nbsp&nbsp&nbsp 가. 동률 3팀간에 게임 득실차가 높은 팀<br>
							&nbsp&nbsp&nbsp&nbsp 나. 게임득실 차가 동률일 경우, 두 사람의 합산연령이 많은 팀<br>
							&nbsp&nbsp&nbsp&nbsp 다. 합산 연령이 같을 경우, 추첨으로 한다.<br>
							&nbsp&nbsp&nbsp&nbsp ※ 3팀 중 한 팀이 결정되고 두 팀이 득실이 같을 경우는 두 팀 간만 나,다를 적용한다.<br>
							○ 본선 토너먼트 : 노-애드 5:5 타이브레이크 시스템 적용한다.<br>
							○ 경기진행순서는<br>
							&nbsp&nbsp ①4팀일 경우 : 1-4 2-3 1-3 2-4 1-2 3-4 순으로 진행한다.<br>
							&nbsp&nbsp ②3팀일 경우 : 1번째 경기는 1-2, 2번째 경기는 1-2 승자와-3번, 3번째 경기는 1-2패자와 3번 순서로 진행한다.<br>
							단, 클럽이 같은 팀이 같은 조에 배정되었을 경우 게임순서와 관계없이 같은 클럽 팀이 1번째 경기를 하며, 1번째 경기 승자가 2번째 경기를 한다.
						</td>
					</tr>
					<tr>
						<td>주의사항</td>
						<td style="text-align: left">
							○ 미스 콜은 인정하지 않는다.<br>
							○ 풋폴트는 상대선수가 콜을 요할시 1회경고, 2회적발시 진행요원이 심판으로 경기를 참관한다.
							○ 경기 중에는 근육경련으로 인한 메디컬 타임을 요청할 수 없고 진행중인 게임이 종료된 후에 요청할 수 있으며 치료는 팀당 1회 5분간 허용한다. (경기중 메디컬 타임 사용시 1게임을 잃는다)<br>
							○ 타이브레이크에서의 근육경련으로 인한 메디컬타임은 사용할 수 없다.<br>
							단, 엔드체인지 90초 한도에서 사용 가능하다
							○ 워밍업중이거나 경기중에 우발적인 부상으로 인해 경기가 불가능할 경우(골절,출혈 등), 팀당 1회에 한하여 10분간 치료시간을 요구할 수 있으며 10분 초과시는 실격 처리한다.<br>
							○ 기타 명기되지 않은 사항은 KTA 랭킹관리규정과 랭킹위원회 유권해석에 의한다.
						</td>
					</tr>
				</table>
			</div>
			<div>
				<button class="txtBtn">대회목록</button>
				<button class="txtBtn">참가신청</button>
			</div>
			

		</section>
		<footer>
			푸터영역
		</footer>
	</div>
</body>
</html>